<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.ucmed.mapper.TDoctorsMapper" >
  <resultMap id="BaseResultMap" type="cn.ucmed.model.TDoctors" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="ques_id" property="quesId" jdbcType="INTEGER" />
    <result column="session_id" property="sessionId" jdbcType="VARCHAR" />
    <result column="dept_id" property="deptId" jdbcType="INTEGER" />
    <result column="dept_name" property="deptName" jdbcType="VARCHAR" />
    <result column="doct_id" property="doctId" jdbcType="INTEGER" />
    <result column="doct_name" property="doctName" jdbcType="VARCHAR" />
    <result column="doct_desc" property="doctDesc" jdbcType="VARCHAR" />
    <result column="doct_title" property="doctTitle" jdbcType="VARCHAR" />
    <result column="doct_sex" property="doctSex" jdbcType="VARCHAR" />
    <result column="flag" property="flag" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="modify_time" property="modifyTime" jdbcType="TIMESTAMP" />
    <result column="temp1" property="temp1" jdbcType="VARCHAR" />
    <result column="temp2" property="temp2" jdbcType="VARCHAR" />
    <result column="temp3" property="temp3" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, ques_id, session_id, dept_id, dept_name, doct_id, doct_name, doct_desc, doct_title, 
    doct_sex, flag, create_time, modify_time, temp1, temp2, temp3
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_doctors
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_doctors
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cn.ucmed.model.TDoctors" >
    insert into t_doctors (id, ques_id, session_id, 
      dept_id, dept_name, doct_id, 
      doct_name, doct_desc, doct_title, 
      doct_sex, flag, create_time, 
      modify_time, temp1, temp2, 
      temp3)
    values (#{id,jdbcType=INTEGER}, #{quesId,jdbcType=INTEGER}, #{sessionId,jdbcType=VARCHAR}, 
      #{deptId,jdbcType=INTEGER}, #{deptName,jdbcType=VARCHAR}, #{doctId,jdbcType=INTEGER}, 
      #{doctName,jdbcType=VARCHAR}, #{doctDesc,jdbcType=VARCHAR}, #{doctTitle,jdbcType=VARCHAR}, 
      #{doctSex,jdbcType=VARCHAR}, #{flag,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{modifyTime,jdbcType=TIMESTAMP}, #{temp1,jdbcType=VARCHAR}, #{temp2,jdbcType=VARCHAR}, 
      #{temp3,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="cn.ucmed.model.TDoctors" >
    insert into t_doctors
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="quesId != null" >
        ques_id,
      </if>
      <if test="sessionId != null" >
        session_id,
      </if>
      <if test="deptId != null" >
        dept_id,
      </if>
      <if test="deptName != null" >
        dept_name,
      </if>
      <if test="doctId != null" >
        doct_id,
      </if>
      <if test="doctName != null" >
        doct_name,
      </if>
      <if test="doctDesc != null" >
        doct_desc,
      </if>
      <if test="doctTitle != null" >
        doct_title,
      </if>
      <if test="doctSex != null" >
        doct_sex,
      </if>
      <if test="flag != null" >
        flag,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="modifyTime != null" >
        modify_time,
      </if>
      <if test="temp1 != null" >
        temp1,
      </if>
      <if test="temp2 != null" >
        temp2,
      </if>
      <if test="temp3 != null" >
        temp3,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="quesId != null" >
        #{quesId,jdbcType=INTEGER},
      </if>
      <if test="sessionId != null" >
        #{sessionId,jdbcType=VARCHAR},
      </if>
      <if test="deptId != null" >
        #{deptId,jdbcType=INTEGER},
      </if>
      <if test="deptName != null" >
        #{deptName,jdbcType=VARCHAR},
      </if>
      <if test="doctId != null" >
        #{doctId,jdbcType=INTEGER},
      </if>
      <if test="doctName != null" >
        #{doctName,jdbcType=VARCHAR},
      </if>
      <if test="doctDesc != null" >
        #{doctDesc,jdbcType=VARCHAR},
      </if>
      <if test="doctTitle != null" >
        #{doctTitle,jdbcType=VARCHAR},
      </if>
      <if test="doctSex != null" >
        #{doctSex,jdbcType=VARCHAR},
      </if>
      <if test="flag != null" >
        #{flag,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyTime != null" >
        #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="temp1 != null" >
        #{temp1,jdbcType=VARCHAR},
      </if>
      <if test="temp2 != null" >
        #{temp2,jdbcType=VARCHAR},
      </if>
      <if test="temp3 != null" >
        #{temp3,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.ucmed.model.TDoctors" >
    update t_doctors
    <set >
      <if test="quesId != null" >
        ques_id = #{quesId,jdbcType=INTEGER},
      </if>
      <if test="sessionId != null" >
        session_id = #{sessionId,jdbcType=VARCHAR},
      </if>
      <if test="deptId != null" >
        dept_id = #{deptId,jdbcType=INTEGER},
      </if>
      <if test="deptName != null" >
        dept_name = #{deptName,jdbcType=VARCHAR},
      </if>
      <if test="doctId != null" >
        doct_id = #{doctId,jdbcType=INTEGER},
      </if>
      <if test="doctName != null" >
        doct_name = #{doctName,jdbcType=VARCHAR},
      </if>
      <if test="doctDesc != null" >
        doct_desc = #{doctDesc,jdbcType=VARCHAR},
      </if>
      <if test="doctTitle != null" >
        doct_title = #{doctTitle,jdbcType=VARCHAR},
      </if>
      <if test="doctSex != null" >
        doct_sex = #{doctSex,jdbcType=VARCHAR},
      </if>
      <if test="flag != null" >
        flag = #{flag,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyTime != null" >
        modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="temp1 != null" >
        temp1 = #{temp1,jdbcType=VARCHAR},
      </if>
      <if test="temp2 != null" >
        temp2 = #{temp2,jdbcType=VARCHAR},
      </if>
      <if test="temp3 != null" >
        temp3 = #{temp3,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.ucmed.model.TDoctors" >
    update t_doctors
    set ques_id = #{quesId,jdbcType=INTEGER},
      session_id = #{sessionId,jdbcType=VARCHAR},
      dept_id = #{deptId,jdbcType=INTEGER},
      dept_name = #{deptName,jdbcType=VARCHAR},
      doct_id = #{doctId,jdbcType=INTEGER},
      doct_name = #{doctName,jdbcType=VARCHAR},
      doct_desc = #{doctDesc,jdbcType=VARCHAR},
      doct_title = #{doctTitle,jdbcType=VARCHAR},
      doct_sex = #{doctSex,jdbcType=VARCHAR},
      flag = #{flag,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      temp1 = #{temp1,jdbcType=VARCHAR},
      temp2 = #{temp2,jdbcType=VARCHAR},
      temp3 = #{temp3,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>